
/*NEW AVERAGE IMAGE WIDTH IS 343PX*/
/* General CSS */

@font-face {
  font-family: inder;
  src: url(Inder-Regular.ttf) format('truetype');}
@font-face {
  font-family: inknutregular;
  src: url(InknutAntiqua-Regular.ttf) format('truetype');}
@font-face {
  font-family: inknutbold;
  src: url(InknutAntiqua-Bold.ttf) format('truetype');}
@font-face {
  font-family: inknutsemibold;
  src: url(InknutAntiqua-SemiBold.ttf) format('truetype');}

    h1 {
        color:#5E763B;
        font-size: 1.75em;
        text-decoration: underline;
        text-align: center;
        font-family: 'inder', sans-serif;}

    h2 {
        color:#5E763B;
        font-size: 1.25em;
        text-decoration: bolder;
        text-align:left;
        font-family: 'inknutregular', serif;
        margin:18px;
      }

    h3{
        color:#5E763B;
        font-size: 1.125em;
        text-decoration: lighter;
        text-align: left;
        margin: 18px 18px -1px;
      }

    body{
        color:black;
        font-size: 1em;
        text-align: left;
        font-family: 'inder', sans-serif;
        margin:0;
        line-height: 1.5;
        letter-spacing: 1.5%;
      }

.paragraph{
  margin: 18px;
}

:link{
  color:#5E763B;
  text-decoration: none;
}
:visited{
  color:#5E763B;
}

img{
  border-radius: 25px;
}

.pagelink {
  color:#5E763B;
        font-size: 1.05em;
        text-align:center;
        font-family:'inder', serif;
        background-color: #FFE350;
        padding: 15px 25px;
        border:none;
        border-radius: 25px;
        width: 80%;
        display: block;
        margin:130px auto -143px;
        position:relative;
        z-index:1;
        filter:drop-shadow(-10px 10px 0.5 black);
      }

.button{
    color:#FFF48F;
    font-size: 1em;
    text-align:center;
    background-color: #5E763B;
    padding: 15px 25px;
    border:none;
    border-radius: 25px;
    display:block;
    margin: 0 auto;
}
footer{
  font-size:0.8em;
  background-color: #FFE350;
  color:#5E763B;
  text-align: center;
  padding: 15px;
}

.caption{
  font-family:inknutregular;
  font-size: 0.875em;
  color:#5E763B;
  margin: -1px 18px 18px;
}

h1 p{
  margin: 20px 0 14px;
}

h2 p{
  margin:14px;
}

h2 h3{
  margin-top: 20px;
}
h3 p{
  margin: 6px;
}
    /* MENU*/

        .dropbtn {
          background-color: #FFE350;
          color: #5E763B;
          padding: 16px;
          font-size: 15px;
          border: none;
        }
        
        .menuitem {
          background-color: #FFE350;
          color: #5E763B;
          padding: 16px;
          font-size: 15px;
          border: none;
          position: relative;
          display: inline-block;}

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
          position: relative;
          display: inline-block;}
        
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #FFE350;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;}
        
        /* Links inside the dropdown */
        .dropdown-content a {
          color: #5E763B;
          padding: 12px 16px;
          text-decoration: none;
          display: block;}
        
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #FFE350;}
        
        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}
        
        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color:#FFE350;}


    #menu {
      background-color: #FFE350;
      color:#5E763B;
      padding: 10px;
      margin:0;
      text-align: center;}
    
/* HEADER */

#title {
  background-color:#FFF48F;
  color:#5E763B;
  font-size:1.75em;
  padding: 57px;
  margin:0;
  text-decoration: none;
  font-family: inknutregular, serif;
  text-wrap: pretty;
  line-height:1.25em;
  letter-spacing: 2px;}

/* ABOUT PAGE */
#about-head{
  max-width:343px;
  background-color: #C8DAA6;
  border-radius:25px;
  display:block;
  margin:auto;
  padding: 10px;
  }

.aboutsquareone{
  max-width:102px;
  filter: drop-shadow(-8px 8px 0px rgba(255, 244, 153, 1));
}
.aboutsquaretwo{
  max-width:102px;
  filter: drop-shadow(-8px 8px 0px rgba(200, 218, 166, 1));
}

.threepics{
  display:flex;
  justify-content: space-around;
  padding: 0px 0px 0px 8px;
}

.imgseperator{
  background-color:#C8DAA6;
  border-radius:25px;
  width:90%;
  height: 4px;
  margin: 28px auto 20px;
}

.friendsone{
  max-height:185.78px;
  filter: drop-shadow(-11px 11px 0px rgba(200, 218, 166, 1))
}
.friendstwo{
  max-height:185.78px;
  filter: drop-shadow(-11px 11px 0px rgba(255, 244, 153, 1))
}
.friends{
  display:flex;
  justify-content: space-around;
  padding: 0px 0px 0px 11px;
}
.a-carousel{
  max-width:329px;
}
/*CAROUSEL????*/

.carousel-container {
  width: 90%;
  margin: 14px auto;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 90%;
  height: auto;
  background-color:#FFF48F;
  padding:15px;
}

.carousel-item {
  width: 100%;
  flex: 0 0 auto;
  margin: 0 auto;
}

.carousel-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(200, 218, 166, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/*RESUME*/
.resume-list{
  margin-right:18px;
  }

/*CAT TRACK*/
.user-persona{
  max-width:343px;
  background-color:#C8DAA6;
  border-radius:25px;
  display:block;
  margin:auto;
  padding: 10px;}

.horizontal-content{
  width: 257px;
  margin: 15px auto;
}

.cat-horizontal{
  overflow: auto;
  white-space: nowrap;
  background-color:#C8DAA6;
  padding:15px;
  border-radius: 25px;
}
.horizontal-cap{
  display: block;
  margin:-35px auto 45px;
}

/*DESIGN*/
.design-intro{
  display: flex;
  justify-content: space-evenly;
}
.designnav ul{
  list-style: none;
}
.designnav a{
  margin:7px 10px 7px -35px;
  display: block;
  background-color: #5E763B;
  height: 50px;
  width: 95px;
  color: #FFF48F;
  border-radius: 25px;
  line-height: 25px; /* Adjust line-height to center text vertically */
  text-align: center; /* Center text horizontally */
  text-decoration: none;
}
.intro-p{
  margin: auto 5px;
  background-color: #FFF48F;
  padding: 0 10px;
  border-radius: 25px;
}

.graffiti-img{
  background-color: #FFF48F;
  border-radius:35px;
  display:block;
  margin:7px auto;
  max-width:343px;
  padding:55px 10px 25px;
}
.constructivism-img{
  background-color: #C8DAA6;
  border-radius: 35px;
  display:block;
  margin:7px auto 24px;
  max-width:343px;
  padding:55px 10px 25px;
}
.redesign-models{
  background-color:#C8DAA6;
  display:block;
  margin:18px auto 10px;
  max-width:343px;
  padding: 12px;
}
.persepctive-anim{
  background-color:#C8DAA6;
  display:block;
  margin: 12px auto;
  max-width:343px;
  padding:15px 15px 55px;
}
.perspective-cap{
  margin-top:-45px;
}
.symmetry{
  background-color:#FFF48F;
  display:block;
  max-width:140px;
  padding:15px 15px 55px;
  margin: 12px auto;
}
.expressiveline{
  background-color:#FFF48F;
  max-width:140px;
  display:block;
  padding:15px 15px 55px;
  margin: 12px auto;
}
  .line-sidebyside{
    display:flex;
    justify-content: space-around;
  }

.line-sidebyside-cap{
  display:flex;
  justify-content: space-around;
  margin-top:-55px;
  margin-left: 12px;
}

.value-content-p{
  max-width:160px;
}
.value-person{
  display: flex;
  justify-content: space-around;
}
.value-content{
  max-width: 119px;
  display:block;
  margin-top: 6px;
}
.value-scale{
  display: flex;
  justify-content: space-around;
}
.caption-center{
  text-align:center;
}
.value{
  background-color:#C8DAA6;
  display: block;
  border-radius:25px;
  padding: 15px 15px 55px;
  margin: 24px auto;
}
.value-cap{
  margin-top: -60px;
}

.notan {
  display: flex;
  align-items: center;
  justify-content:center;
  background-color:#FFF48F;
  padding: 15px 0 55px;
  border-radius:25px;
  margin:42px 10px 6px;
}

.notan-image {
  display: block;
  justify-content:space-around;
  width: 210px;
  height: 279px;
  margin-right:20px;
}

.notan-image-small {
  display: block;
  justify-content:space-around;
  width: 90px;
  height: 90px;
}

.notan .notan-image-small:not(:first-child) {
  margin-top: 10px; /* Adjust as needed for spacing between the small images */
}

.notan-cap{
  margin-top: -55px;
}
.video{
  height: 258px;
  width: 343px;
  display:block;
  justify-content: center;
  background-color: #C8DAA6;
  padding: 10px 10px 55px;
  border-radius: 25px;
  margin: 48px auto 6px;
}

.video-cap{
  margin-top: -55px;
}

.post-video{
  margin-top:54px;
}

.image-title{
  text-align: center;
  margin-bottom: -60px;
  margin-top: 46px;
}

.polygraph{
  display: flex;
  justify-content:center;
  background-color:#FFF48F;
  border-radius: 25px;
  padding:15px 5px 55px;
  margin: auto;
  max-width: 360px;
}

.poly-content-1{
max-width: 178px;
margin-right:15px;
}

.poly-content-2{
  max-width: 117px;
  max-height:185PX;
  margin-top:18px;
  margin-left: 15px;
}
.poly-cap{
  margin: -40px auto 15px;
}

.color-cap{
  margin: 114px auto -80px;
}

.color-bottom-cap{
  margin: 15px;
}
.color{
  background-color:#C8DAA6;
  display: block;
  border-radius:25px;
  padding: 55px 15px 55px;
  margin: 24px auto;
}

.color-scale{
  display:flex;
  justify-content: space-around;
}

.color-design{
 display: flex;
 justify-content: space-around;
 margin-top: 9px;
}

.color-content-s{
  max-width:80px;
  max-height:55px;
}

.color-content{
  width:162px;
}

.transparency{
  width:276px;
  height: 276px;
  background-color:#FFF48F;
  border-radius: 25px;
  padding:25px 25px 55px;
  display: block;
  margin:auto;
}

.transparency-cap{
  margin-top:-35px;
}

.button-spacing-d{
  margin-top: 20px;
}

.posters-title{
  margin-top: 36px;
}

.posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px; /* Adjust the max-width based on your design */
  margin: 25px auto;
}

.poster-tall,
.poster-short {
  margin: 8px; /* Adjust the margin based on your design */
}

.poster-tall {
  width: 162px;
  height: 227px;
}

.poster-short {
  width: 169px;
  height: 169px;
}

.poster-background{
  background-color: #C8DAA6;
  width: 100%;
  height: 693px;
  margin:-708px auto 24px;
  border-radius: 35px;
}

/*FOCUST*/
.focust-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:14px auto;
  background-color: #C8DAA6;
  padding:25px;
  border-radius: 25px;
}

.beforeafter{
  display: flex;
  justify-content: space-around;
}
.beforeafter img{
  height: 345px;
  width: auto;
}

.beforeafter-cap{
  margin:60px auto -34px;
}

/*INDEX*/
.index-pic{
  width:auto;
  height:246px;
  display: block;
  margin: auto;
  filter:drop-shadow(-10px 10px rgba(200 218 166));
}

.index-footer{
  margin-top:36px;
}

/*PHOTOGRAPHY*/
.photo-intro{
  display: flex;
  justify-content: space-evenly;
}

.photonav ul{
  list-style: none;
}
.photonav a{
  margin:2px 10px 4px -35px;
  display: block;
  background-color: #5E763B;
  height: 50px;
  width: 95px;
  color: #FFF48F;
  border-radius: 25px;
  line-height: 18px;
  text-align: center; 
  text-decoration: none;
  padding-top:10px;
  text-align:center;
}

.intro-photo{
  margin: auto 5px;
  background-color:#FFF48F;
  padding: 0 10px;
  border-radius: 25px;
  text-wrap:pretty;
}

.landscapes img{
  width:315px;
  display: block;
  margin: 35px auto;
}

.shadow-one{
  filter:drop-shadow(-10px 10px rgba(255, 244, 143, 1));
  display:block;
}
.shadow-two{
  filter:drop-shadow(10px -10px rgba(200, 218, 166, 1));
}

.window-top img{
  width: 281px;
  height: 377px;
  display: block;
  margin: 25px auto;
  filter: drop-shadow(-10px 10px rgba(255, 244, 143, 1));
}

.four-item{
  height: 220px;
  margin: 7px 10px;
  
}
.top-row{
  display: flex;
  justify-content: space-around;
}
.bottom-row{
  display: flex;
  justify-content: space-around;
}
.four-window{
 background-color: #C8DAA6;
 padding: 15px;
 margin: 15px auto;
 border-radius: 25px;
}

.window-wideone{
  width: 345px;
  display: block;
  float: left;
  margin-top:15px;
  filter: drop-shadow(15px 0 rgba(255, 244, 143, 1));
}
.window-widetwo{
  width: 345px;
  display: block;
  float: right;
  margin-top:15px;
  filter:drop-shadow(-15px 0 rgba(200, 218, 166, 1));
}

.window-cap{
  display: block;
  margin: 45px auto 15px;
  text-align: center;
  padding: 0;
}

.married-content{
  width: 333px;
  margin: 25px auto;
}

.married-life{
  overflow: auto;
  white-space: nowrap;
  background-color:#FFF48F;
  padding: 15px;
  border-radius: 25px;
}

.bottom-button{
  margin: 15px auto 35px;
}

/*Portfolio*/
.portfolio-pic{
  width: auto;
  height: 246px;
  display: block;
  margin: auto;
  filter: drop-shadow(-10px 10px rgba(255, 244, 143, 1));
}

/*UG*/
.ug-header{
  width: 350px;
  display: block;
  margin: 36px auto 18px;
  background-color: #C8DAA6;
  border-radius: 25px;
  padding: 11px;
}

.ug-cap{
  display: block;
  margin: -10px auto 15px;
}

.ug-transparent{
  width: 345px;
  display: block;
  margin: 15px auto;
  background-color: #C8DAA6;
  border-radius: 25px;
  padding: 25px 15px;
}